{% load likes_post %}

{% is_liked topic_post_id as is_liked_bool %}
{% count_likes topic_post_id as likes_counter %}

{% if is_liked_bool %}
    {% topic_likes_id topic_post_id as topic_likes_id %}
{% endif %}

<form action="{% if not is_liked_bool %} {% url 'forum:add' %} {% else %} {% url 'forum:remove' %} {% endif %}"
  method="post">{% csrf_token %}
    <input type="hidden" name="topic_post_id" value="{{topic_post_id}}">
    <input type="hidden" name="user_id" value="{% if user.is_authenticated %}{{request.user.id}}{% else %}None{% endif %}">
    <input type="hidden" name="url_from" value="{{ request.path }}">

    {% if is_liked_bool %}
        <input type="hidden" name="topic_likes_id" value="{{ topic_likes_id }}">
    {% endif %}

    <button type="submit" class="btn btn-danger">
        {% if not is_liked_bool %}
            <i class="fi-xnluxl-heart"></i>
        {% else %}
            <i class="fi-xnsuxl-heart-solid"></i>
        {% endif %}
        <span class="likes-qty">{{ likes_counter }}</span>
    </button>

</form>
