
{% if request.user.is_authenticated %}
<form action="{% url 'forum:like_topic' topic.id %}" method="post">
        {% csrf_token %}
        {% if liked %}

        <button  type="submit" class="icon-Favorite_Topic" style="background-color: Transparent;  border:none; color:red">Unlike</button>

        {% else %}

        <button  type="submit" class="icon-Favorite_Topic" style="background-color: Transparent;  border:none; color:black">Like</button>

       {% endif %}
        {{ topic.total_likes }}
    </form>
{% endif %}