<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="color:white;">
{% if bookmarks %}
  {% for bookmark in bookmarks %}
   Название темы:   {{bookmark.topic.name}}
   <p>Колличество добавленных: {{bookmark.quantity}}</p>
<p>Вы можете удалить закладку
<a href="{% url 'forum:bookmarks_remove'  bookmark.id %}">
<img src="{% static 'fonts/icons8-удалить-навсегда-64.png' %}" alt="Корзина удаленрия">

</a>
</p>
  {% endfor %}
{% endif %}
</div>
</body>
</html>