{% extends '_layouts/base.html' %}


{% block title %} Delete bookmark {{ block.super }} {% endblock %}
{% block content %}
    {% include 'forum/_partials/bookmark.html' %}
    <form method="post">
        {% csrf_token %}
        <h3>Bookmark title:</h3>
        {{ bookmark.title }}
        <h3>Bookmark description</h3>
        {{ bookmark.description }}
        <h3>Bookmark url</h3>
        {{ bookmark.url }}
        <p style="margin-top: 270px;">Are you sure you want to delete bookmark?</p>

        <button class="btn btn-danger" type="submit">Yes</button>
        <a href="{% url 'forum:list' %}" class="btn">No</a>
    </form>

{% endblock %}
