<!doctype html>
{% load tagnag %}
{% load static  %}

<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Responsive HTML5 Template">
    <meta name="author" content="author.com">
    <title>Responsive HTML5 Template</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="{% static 'fonts/icons/main/mainfont/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icons/font-awesome/css/font-awesome.min.css' %}">

    <!-- Vendor -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/v3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/v4/bootstrap-grid.css' %}">

    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
        <div class="header js-header js-dropdown">
            <div class="container">
                <div class="header__logo">
                    <h1>
                        <img src="{% static 'fonts/icons/main/Logo_Forum.svg' %}" alt="logo">
                    </h1>
                    <div class="header__logo-btn" data-dropdown-btn="logo">
                        Search<i class="icon-Arrow_Below"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="logo">
                        <ul class="dropdown__catalog">
                            <li><a href="{% url 'forum:main' %}">Home Page</a></li>
                            <li><a href="{% url 'registration_App:simple-signup' %}">Sign up Page</a></li>
                            <li><a href="{% url 'create_topicApp:create_top' %}">Create Topic Page</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__search">
                    <form action="#">
                        <label>
                            <i class="icon-Search js-header-search-btn-open"></i>
                            <input type="search" placeholder="Search all forums" class="form-control">
                        </label>
                    </form>
                    <div class="header__search-close js-header-search-btn-close"><i class="icon-Cancel"></i></div>

                    <div class="dropdown dropdown--design-01" data-dropdown-list="search">
                        <ul>
                            <li>
                                <label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" checked="checked">
                                        <i></i>
                                    </label>Search Titles Only
                                </label>

                            </li>
                            <li>
                                <label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <i></i>
                                    </label>Show Results as Posts
                                </label>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-Advanced_Search"></i>Advanced Search
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__menu">
                    <div class="header__menu-btn" data-dropdown-btn="menu">
                        Generl<i class="icon-Menu_Icon"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="menu">
                        <div>
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="#">New</a></li>
                                <li class="col-xs-6"><a href="#">Unread</a></li>
                                <li class="col-xs-6"><a href="#">Users</a></li>
                                <li class="col-xs-6"><a href="#">Tags</a></li>
                            </ul>
                        </div>
                        <div>

                            <h3>Categories</h3>
                            {% get_categories as categories %}
                            <ul class="dropdown__catalog row">
                                {% for category in categories %}
                                <li class="col-xs-6">{{category.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="#">Support</a></li>
                                <li class="col-xs-6"><a href="#">Forum Rules</a></li>
                                <li class="col-xs-6"><a href="#">Blog</a></li>
                                <li class="col-xs-6"><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="header__notification">
                    <div class="header__notification-btn" data-dropdown-btn="notification">
                        <i class="icon-Notification"></i>
                    </div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="notification">

                    </div>
                </div>
                <div class="header__user">
                    <div class="header__user-btn" data-dropdown-btn="user">
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="user">
                        <div>
                            <div class="dropdown__icons">
                                <a href="#"><i class="icon-Bookmark"></i></a>
                                <a href="#"><i class="icon-Message"></i></a>
                                <a href="#"><i class="icon-Preferences"></i></a>
                                <a href="#"><i class="icon-Logout"></i></a>
                            </div>
                        </div>
                        <div>
                            <ul class="dropdown__catalog">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Badges</a></li>
                                <li><a href="#">My Groups</a></li>
                                <li><a href="#">Notifications</a></li>
                                <li><a href="#">Topics</a></li>
                                <li><a href="#">Likes</a></li>
                                <li><a href="#">Solved</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="header__offset-btn">
                <a href="{% url 'create_topicApp:create_top' %}"><img src="{% static 'fonts/icons/main/New_Topic.svg' %}" alt="New Topic"></a>
            </div>
        </div>
    </header>
{% load static  %}

    <main>
        <div class="container">
            <div class="nav">
                <div class="nav__categories js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="categories">All Categories</div>
                        <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                            {% get_categories as categories %}
                            <ul class="dropdown__catalog row">
                                {% for category in categories %}
                                <li class="col-xs-6"><a href="#" class="category">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="tags">Tags</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                            <div class="tags">
                                {% get_tags as tags %}
                                {% for tag in tags %}<a href="#" class="bg-4f80b0">{{tag.name}}</a>{% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__menu js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="menu">Latest</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                            <ul class="dropdown__catalog">
                                <li><a href="#">Latest</a></li>
                                <li><a href="#">Unread</a></li>
                                <li><a href="#">Rising</a></li>
                                <li><a href="#">Most Liked</a></li>
                                <li><a href="#">Follow Feed</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li class="active"><a href="#">Latest topic</a></li>
                        <li><a href="#">Unread topic</a></li>
                        <li><a href="#">Most Liked Topics</a></li>
                    </ul>
                </div>
                <div class="nav__thread">
                    <p>Thread Navigation:</p>
                    <a href="#" class="nav__thread-btn nav__thread-btn--prev"><i class="icon-Arrow_Left"></i>Previous</a>
                    <a href="#" class="nav__thread-btn nav__thread-btn--next">Next<i class="icon-Arrow_Right"></i></a>
                </div>
            </div>
            <div class="topics">
                <div class="topics__heading">

                    <h2 class="topics__heading-title">{{topic.name}}</h2>

                    <div class="topics__heading-info">
                        <a href="{{category.id}}" class="category"><i class="bg-3ebafa"></i>{{topic.category}}</a>
                        <div class="tags">



                            {% for tag in topic.tags.all %}

                            <a href="{{ topic.slug }}" class="bg-4f80b0">{{tag.name}}</a>
                            {% if not forloop.last %}: {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="topics__body">
                    <div class="topics__content">
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                    <a href="#"><img src="/media/no_image.jpg" width="100" height="140"></a>

                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#">{{topic.author}}</a>
                                    </div>

                                    <div class="topic__date"><i class="icon-Watch_Later"></i>{{topic.created}}</div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                        {{ topic.content }}
                                </div>
                                <div class="topic__footer">
                                    <div class="topic__footer-likes">
                                        <div>

                                        <div>
                                            <a href="#" id="scroll_bottom"><i class="icon-Downvote"></i></a>

                                        </div>
                                        <div>

                                            {% include 'includes/add_like_post.html' %}

                                        </div>

                                        </div>
                                        <div>
                                            <span></span>
                                        </div>
                                        <div>

                                        </div>

                                    </div>
                                    <div class="topic__footer-share">
                                        <div data-visible="desktop">
                                            <a href="#"><i class="icon-Share_Topic"></i></a>
                                            <a href="#"><i class="icon-Flag_Topic"></i></a>
                                            <a href="#"><i class="icon-Bookmark"></i></a>
                                        </div>
                                        <div data-visible="mobile">
                                            <a href="#"><i class="icon-More_Options"></i></a>
                                        </div>
                                        <a href="#"><i class="icon-Reply_Fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topic">
                            <div class="topic__content">
                                <div class="topic__info">
                                    <div class="topic__info-section">
                                        <div>
                                            <span class="topic__info-title">Created</span>
                                            <div  class="topic__info-avatar">
                                                <a href="#" class="avatar"><img src="{% static 'fonts/icons/avatars/B.svg' %}" alt="avatar"></a>
                                                <span>13d</span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Last reply</span>
                                            <div  class="topic__info-avatar">
                                                <a href="#" class="avatar"><img src="{% static 'fonts/icons/avatars/A.svg' %}" alt="avatar"></a>
                                                <span>4h</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="topic__info-section">
                                        <div>
                                            <span class="topic__info-title">Replies</span>
                                            <div  class="topic__info-count">18</div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Views</span>
                                            <div  class="topic__info-count">205</div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Users</span>
                                            <div  class="topic__info-count"></div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title"></span>
                                            <div  class="topic__info-count"></div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title"></span>
                                            <div  class="topic__info-count"></div>
                                        </div>
                                    </div>
                                    <a href="#" class="topic__info-more"><i class="icon-Arrow_Down"></i></a>
                                </div>

                                <div class="topic__title">
                                    <p>Popular Links</p>
                                </div>

                                <div class="topic__title">
                                </div>
                                <div class="topic__btns">
                                    <div class="topic__select">
                                        <p>Sort replies by:</p>
                                        <div class="btn-select"><i class="icon-Favorite_Topic"></i>Most Liked</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                    </div>
                                    <div class="topic__date">
                                        <div class="topic__user topic__user--pos-r">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                </div>
                                <div class="topic__footer">
                                    <div class="topic__footer-likes">
                                        <div>
                                            <span></span>
                                        </div>



                                        <div>
                                            <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                        </div>
                                    </div>
                                    <div class="topic__footer-share">
                                        <div data-visible="desktop">
                                            <a href="#"><i class="icon-Share_Topic"></i></a>
                                            <a href="#"><i class="icon-Flag_Topic"></i></a>
                                            <a href="#"><i class="icon-Bookmark"></i></a>
                                        </div>
                                        <div data-visible="mobile">
                                            <a href="#"><i class="icon-More_Options"></i></a>
                                        </div>
                                        <a href="#"><i class="icon-Reply_Fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topics__promo">
                        </div>
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">

                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                </div>
                                <div class="topic__footer">
                                    <div class="topic__footer-likes">
                                        <div>
                                        </div>
                                        <div>
                                            <a href="#" id="scroll_top"><i class="icon-Upvote"></i></a>
                                        </div>

                                        <div>
                                            <a href="#"><i class="icon-Favorite_Topic"></i></a>

                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Reply_Empty"></i></a>
                                        </div>
                                    </div>
                                    <div class="topic__footer-share">
                                        <div data-visible="desktop">
                                            <a href="#"><i class="icon-Share_Topic"></i></a>
                                            <a href="#"><i class="icon-Flag_Topic"></i></a>
                                            <a href="#" class="active"><i class="icon-Already_Bookmarked"></i></a>
                                        </div>
                                        <div data-visible="mobile">
                                            <a href="#"><i class="icon-More_Options"></i></a>
                                        </div>
                                        <a href="#"><i class="icon-Reply_Fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="topic topic--selected">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                    <a href="#" class="avatar"><img src="{% static 'fonts/icons/avatars/C.svg' %}" alt="avatar"></a>
                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#">Callis</a>
                                    </div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                    <p>This post has been hidden by a moderator. Received too much downvotes.</p>
                                </div>
                                <div class="topic__footer">
                                    <div class="topic__footer-likes">

                                    </div>
                                    <div class="topic__footer-show">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="topics__calendar">
                        <div class="calendar">
                            <div class="calendar__top">
                                <a href="#" class="calendar__btn calendar__btn--c-01"><i class="icon-Calender"></i></a>
                            </div>
                            <div class="calendar__center">
                                <div class="calendar__first">{{topic.created}}</div>
                                <div class="calendar__range">
                                    <div class="calendar__current">
                                        <p>{{ topic.created |date:"m-Y"  }}</p>
                                        <span>{{topic.created|date:"M-d"}}</span>


                                    </div>
                                </div>
                                <div class="calendar__last">6h ago</div>
                            </div>
                            <div class="calendar__bottom">
                                <a href="#" class="calendar__btn calendar__btn--c-01"><i class="icon-Track"></i></a>
                                <a href="#" class="calendar__btn calendar__btn--c-02"><i class="icon-Reply_Fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topics__title"><i class="icon-Watch_Later"></i>This topic will close 6 months after the last reply.</div>
                <div class="topics__control">
                    <a href="#" class="btn"><i class="icon-Bookmark"></i>Bookmark</a>
                    <a href="#" class="btn"><i class="icon-Share_Topic"></i>Share</a>
                    <a href="#" class="btn"><i class="icon-Flag_Topic"></i>Flag</a>
                    <a href="#" class="btn"><i class="icon-Add_User"></i>Invite</a>
                    <a href="#" class="btn"><i class="icon-Track"></i>Track</a>
                    <a href="#" class="btn btn--type-02" data-visible="desktop"><i class="icon-Reply_Fill"></i>Reply</a>
                </div>
                <div class="topics__title">Suggested Topics</div>
            </div>
            <div class="posts">
                <div class="posts__head">
                    <div class="posts__topic">Topic</div>
                    <div class="posts__category">Category</div>
                    <div class="posts__users">Users</div>
                    <div class="posts__replies">Replies</div>
                    <div class="posts__views">Views</div>
                    <div class="posts__activity">Activity</div>
                </div>
                <div class="posts__body">
                    <div class="posts__item">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="#">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">

                            </div>
                            <div class="posts__replies"></div>
                            <div class="posts__views"></div>
                            <div class="posts__activity"></div>
                        </div>
                    </div>


                    </div>


                </div>
            </div>
        </div>
    </main>
{% load static  %}

<footer>
        <div class="footer js-dropdown">
            <div class="container">
                <div class="footer__logo">
                    <div>
                        <img src="{% static 'fonts/icons/main/Logo_Forum.svg' %}" alt="logo">Unity
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__tline">
                        <i class="icon-Support"></i>
                        <ul class="footer__menu">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">The Team</a></li>
                        </ul>
                        <div class="footer__language">
                            <div class="footer__language-btn" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div>
                            <div class="footer__language-dropdown dropdown dropdown--design-01 dropdown--reverse-y" data-dropdown-list="language">
                                <div class="row">

                                    <div class="col-xs-6">
                                        <h3>Language</h3>
                                        <ul class="dropdown__catalog">
                                            <li class="active"><a href="#"><i></i>English</a></li>
                                            <li><a href="#"><i></i>Espanol</a></li>
                                            <li><a href="#"><i></i>Portugues</a></li>
                                            <li><a href="#"><i></i>Chinese</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__bline">
                        <ul class="footer__menu">
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Send Feedback</a></li>
                        </ul>
                        <ul class="footer__social">
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="footer__language-btn-m" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div>
                    </div>
                </div>
            </div>
        </div>
    <div><dialog id="window">
        <h3>List new topics!</h3>
            {% get_tags as tags %}
             {% for tag in tags %}
                {{tag.name}}
               {% if not forloop.last %}: {% endif %}

            {% endfor %}

        <button id="exit">Выйти</button>
    </dialog>
    </div>
    <button id="show">Tags</button>

<!-- Modal -->
<dialog id="wind">
        <h3>List new topics!</h3>
            {% get_tags as tags %}
             {% for tag in tags %}
                {{tag.name}}
               {% if not forloop.last %}: {% endif %}

            {% endfor %}

        <button id="ex">Выйти</button>
    </dialog>
    <button id="sh">Tags</button>

<script>
    (function() {
            var dialog = document.getElementById('window');

            document.getElementById('show').onclick = function() {
                dialog.show();
            };
            document.getElementById('exit').onclick = function() {
                dialog.close();
            };

        })();


    (function() {
            var dialog = document.getElementById('wind');

            document.getElementById('sh').onclick = function() {
                dialog.show();
            };
            document.getElementById('ex').onclick = function() {
                dialog.close();
            };

        })();




</script>

    </footer>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/velocity/velocity.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/top_bottom.js' %}"></script>

</body>
</html>
