<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1 style="text-align:center">О нас</h1>
<p style="text-indent: 60px">Сайт представляет собой сообщество программистов, где вы можете задать вопрос на интересующую вас тему, например,
если вы начинающий разработчик или учитесь программированию. Так же на нашемсайте представлен блог статей опытных разработчиков, программистов.
Если вы программист, то можете выложить свою статью на сайт.</p>
</body>
</html>