<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align:center">Свяжитесь с нами</h1>
<div style="text-align:right">
  <div style="font-style:italic">
    <p>Телефон:<br>+79347484938</p>
    <p>Почта:<br>forumprogrammer.site@gmail.com</p>
  </div>
</div>
<form id="send_emailForm" action="{% url 'auth_app:verify_email_sent' %}" method="post">
  <div class="form-group" style="text-indent:519px">
    <label  for="exampleInputEmail1">Введите вашу электронную почту</label>
    <input size="30px" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Электронная почта">
  </div>
  <div class="form-group" style="text-indent:519px">
    <label for="name">Введите ваше имя</label>
    <input class="form-control" id="Name" placeholder="Имя" size="30px">
  </div>
  <div class="form-check">
    <div style="text-indent:645px">
     <textarea class="form-control" id="exampleFormControlTextarea1" cols="31" rows="10"></textarea>
    </div>
  </div>
  <div style="text-indent:645px">
  <button type="submit" class="btn btn-primary">Отправить</button>
  </div>
</form>

</body>
</html>
<script src="static/vendor/jquery/jquery.min.js"></script>

<script  src="{% static 'js/send_email.js' %}"></script>