{% load i18n %}

{% load static %}


<footer>
        <div class="footer js-dropdown">
            <div class="container">
                <div class="footer__logo">
                    <div>
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__tline">
                        <ul class="footer__menu">
                             <select>

                                 <option>Latest topic</option>
                                 <option>Создан: {{tops.created}}</option>
                                 <option>Название вопроса: {{tops.name}}</option>
                                 <option>Категория вопроса: {{tops.category}}</option>
                                 <option>Контент вопроса: {{tops.content}}</option>
                             </select>
                            <li><a href="{% url 'forum:about_us' %}">About Us</a></li>
                            <li><a href="{% url 'forum:send_email' %}">Contact Us</a></li>
                            <li><a href="{% url 'forum:forum_rules' %}">Forum Rules</a></li>

                        </ul>

                    </div>
                        <ul class="footer__menu">




                        </ul>

                    </div>
            </div>
        </div>
</footer>