<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Rules</title>
</head>
<body>
<div>

        <h1 style="text-align:center">Общие положения</h1>
<p style="text-indent: 60px">Форум предназначен для обсуждения вопросов IT-тематики и смежных с ней. Обсуждение политических тем запрещено.
Каждый пользователь соглашается с настоящими Правилами фактом регистрации на форуме и участия в нем. Незнание Правил не освобождает от ответственности.
Если пользователь отказывается соблюдать настоящие Правила, то он должен либо самостоятельно покинуть форум, либо его аккаунт будет заблокирован.
Официальными языками форума являются русский и английский языки. Размещение сообщений на других языках запрещено.
Администрация форума не несет ответственности за использование размещенной пользователями или рекламодателями информации.
Действие Правил распространяется на весь форум, включая блоги, личные сообщения, а также на всех его участников.
Настоящий форум является частным ресурсом, поэтому Администрация форума обладает исключительным правом определения политики в отношении пользователей, их обязанностей, правил поведения и публикуемого ими контента, а также вправе отказать в публикации и/или присутствии на форуме кому бы то ни было.
Настоящие Правила могут быть изменены администрацией форума без уведомления пользователей.
Политика в отношении пользователей и публикуемого ими контента.
</p>
<p style="text-indent: 60px">Настоящие Правила распространяются на всех пользователей и весь контент, публикуемый ими на форуме.
Аккаунты пользователей форума не удаляются.
Сообщения и темы, а также другой контент, размещаемый на форуме, по просьбам пользователей не удаляется и не закрывается.
Темы, сообщения и любой другой контент, размещенный на форуме, может быть отредактирован или удален Администрацией форума без уведомления их автора.
Правила поведения на форуме.
</p>

<p style="text-indent: 60px">Уважительно относитесь к другим участникам форума.
Не втягивайтесь в конфликты между пользователями: в этом случае Вы станете их участником и понесете равную ответственность с зачинщиками конфликта.
Не отсылайте других пользователей в поиск и избегайте ссылок на поисковые системы (Google, Yandex и др.). Самостоятельно найдите ответ на вопрос и разместите его на форуме.
Избегайте использования слишком большого количества смайлов в сообщениях в тематических разделах форума, а также "кричащего" выделения текста, в том числе CAPS LOCK.
Написание сообщений латиницей следует применять, только если нет никакой возможности набирать текст в русскоязычной раскладке.
Если какой-либо пост на форуме показался вам полезным, то вы можете выразить свою благодарность, нажав кнопку "Спасибо" внизу самого поста.
Порядок создания тем.
</p>
 <p style="text-indent: 60px">
Прежде чем задать вопрос, воспользуйтесь поиском - возможно, ответ на него уже был дан ранее.
Если собираетесь создать новую тему, определитесь с разделом или существующей темой, в которой ведется обсуждение этого вопроса.
Создавайте темы с осмысленными и понятными названиями - это серьезно повышает шансы, что на ваш вопрос ответят.
На каждый вопрос создавайте по одной теме - это помогает избежать путаницы в ответах и облегчает поиск.
Не стоит ожидать, что на ваш вопрос ответят моментально. Ответ может быть дан как сразу, так и через некоторое время.
Обсуждение вопросов - только в теме на форуме. Приглашения к обсуждению еще где-либо (в том числе и с помощью системы личных сообщений) запрещены, за исключением коммерческих разделов.
Как можно более полно описывайте суть проблемы или вопроса, что было сделано для ее решения и какие результаты получены.
Избегайте грамматических ошибок при написании сообщений - уважайте себя и других участников форума.
Используйте тэги форматирования текста и редактор формул для удобства восприятия ваших сообщений другими пользователями.
Если вопрос был решен вами самостоятельно, отпишите об этом в своей теме - есть и другие люди, которые столкнутся с той же проблемой, и им поможет ваш ответ.
Картинки и любые другие файлы загружайте на форум, во избежание их удаления или потери на сторонних ресурсах. По этой же причине коды программ также должны находиться на форуме.
Не стоит просить или предлагать выслать ответ в icq, e-mail и другие средства общения. Эта просьба все равно не будет выполнена, а сообщение будет отредактировано модератором.
Если на ваш вопрос долгое время нет ответа, уточните его, приведите дополнительные сведения, которые могут помочь участникам форума решить вашу проблему.
Чтобы "поднять" тему в разделе и поиске по форуму, используйте осмысленные сообщения, например "Тема/проблема/задача актуальна". Если вы чего-то достигли в решении проблемы на этот момент, сообщите об этом.
Запреты и ограничения.
 </p>

<p style="text-indent: 60px">Запрещено размещать и обсуждать информацию, противоречащую законодательству Российской Федерации, в том числе приводящую к межнациональной розни и нетерпимости, а также материалы эротического содержания.
Запрещено использовать нецензурные выражения в любом виде, оскорблять других участников форума, умышленно использовать выражения, противоречащие правилам русского языка, в том числе "олбанский" язык.
Запрещено размещать любые материалы, нарушающие авторские права (без разрешения правообладателя), а также ссылки на них.
Запрещено создавать темы с бессмысленными названиями вроде "Помогите!", "Вопрос" и т.п.
Запрещено размещать тему в нескольких подразделах одного раздела одновременно (кросспостинг), а также дублировать тему в одном разделе. Кросспостинг абсолютно запрещен в случае размещения темы в разделах фриланса (разделы фриланса в этом случае являются приоритетными).
Запрещено размещать контент рекламного содержания без согласия администрации форума.
Запрещено обсуждение, создание и распространение вредоносного кода и ПО, вирусов, кряков и взлома лицензионного софта, а также публикация ссылок для их скачивания.
Запрещено публиковать ссылки на другие форумы, а также их пропаганда. Публикация ссылок на форумы допустима только в разделе "Готовые движки, cms и форумы" для решения технических проблем и с предварительного одобрения администрации.
Запрещено отсылать пользователей из тематических разделов в разделы фриланса, а также рекламировать свои услуги или предлагать/просить/требовать оплату за помощь, кроме разделов для платных услуг.
Запрещено накручивать репутацию и другую статистику пользователя любым способом, включая создание пользователей-клонов, а также склонять (агитировать) других пользователей к ее изменению.
Запрещено давать ссылки на скачивание программ и книг с файлообменников и других сайтов (форумов), если есть возможность их скачать или купить на сайтах магазинов или их авторов/правообладателей.
Запрещено создавать несколько учетных записей (пользователей-клонов).
Запрещено использовать ники, аватары, подписи и другие элементы профиля, носящие рекламный характер, оскорбляющие участников форума, нарушающие настоящие Правила или законодательство Российской Федерации.
Запрещено осуществлять злонамеренное вмешательство в работу форума с целью нарушения его работы или получения доступа к личным данным участников форума.
Запрещено выкладывать обфусцированный код.
Запрещено создавать темы с множеством вопросов во всех разделах, кроме разделов платных услуг. Один вопрос - одна тема.
Запрещено избыточное цитирование. Цитируйте только необходимые части сообщений, на которые отвечаете.
Запрещено размещать задания и решения в виде картинок (кроме формул и блок-схем) и других файлов с их текстом.
Запрещено создавать темы в виде ссылок на задания или коды программ, расположенные на других сайтах.
Запрещено публиковать ответы на вопросы или решения задач с форума на другие сайты и давать на них ссылки в качестве ответа.
Запрещено использовать ники, аватары и статусы, дублирующие, имитирующие или похожие на ники, аватары и статусы представителей администрации форума.
Запрещено намеренно вводить других пользователей форума в заблуждение.
</p>
<p style="text-indent: 60px">
Запрещено публичное обсуждение отзывов о репутации. Обсуждение может проводиться исключительно посредством личных сообщений с администраторами форума.
Запрещено давать ответы в виде одной ссылки или списка ссылок. В этом случае необходимо привести ответ полностью и оставить ссылку на источник. Исключением являются ссылки на страницы самого форума.
Об администрации форума.
К администрации форума относятся модераторы, супер-модераторы и администраторы.
Принадлежность участника форума к администрации определяется цветом его ника и статусом.
Администрация форума обладает исключительным правом на оценку действий участников форума, нарушивших настоящие Правила, и применение санкций против них.
В прямые обязанности администрации форума входит контроль за соблюдением настоящих Правил и поддержание уважительных отношений между пользователями.
Запрещено публично обсуждать действия администрации форума, касающиеся их прямых обязанностей.
Требования администрации форума должны выполняться немедленно и безусловно.
Санкции могут быть применены без предупреждения по усмотрению администрации форума.
Любой участник форума имеет право знать причину, по которой к нему были применены санкции.
Оскорбление, пренебрежение и другие проявления неуважения к администрации форума и ее действиям недопустимы, и могут повлечь применение санкций, вплоть до бана.
Ситуации, не описанные в настоящих Правилах, решаются по усмотрению администрации форума.
Действия модераторов могут быть обжалованы у администраторов форума.
</p>
 <p style="text-indent: 60px">
Представители администрации форума имеют право размещать в подписи активные ссылки на свои сайты или страницы (исключая форумы), рекламу своих услуг, а также графические изображения установленного размера.
Политика конфиденциальности.
Для показа объявлений на нашем веб-сайте мы пользуемся услугами сторонних рекламных компаний. Эти компании могут использовать информацию (за исключением вашего имени, адреса, адреса электронной почты или номера телефона) о ваших посещениях этого веб-сайта и других веб-сайтов с целью предоставления наиболее релевантных объявлений о товарах и услугах.
Администрация форума сохраняет приватность личных данных, указанных пользователем при регистрации. Однако, эти данные могут быть использованы для установления личности и местонахождения пользователя в случае нарушения им настоящих Правил или законодательства Российской Федерации.
 </p>






</div>
</body>
</html>