{% load tagnag %}
{% load static %}
<header>
        <div class="header js-header js-dropdown">
            <div class="container">
                <div class="header__logo">
                    <h1>
                        <img src="static/fonts/icons/main/Logo_Forum.svg" alt="logo">
                    </h1>
                    <div class="header__logo-btn" data-dropdown-btn="logo">
                        Search<i class="icon-Arrow_Below"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="logo">
                        <ul class="dropdown__catalog">
                            <li><a href="{% url 'forum:main' %}">Home Page</a></li>
                            <li><a href="{% url 'forum:single-topic' %}">Single Topic Page</a></li>
                            <li><a href="{% url 'registration_App:simple-signup' %}">Sign up Page</a></li>
                            <li><a href="{% url 'create_topicApp:create_top' %}">Create Topic Page</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__search">
                    <form action="{% url 'forum:search_results' %}" method="get">
                        <label>
                            <i class="icon-Search js-header-search-btn-open"></i>
                            <input type="search" placeholder="Search all forums" class="form-control" name="q">
                        </label>
                    </form>
                   <div class="header__search-close js-header-search-btn-close"><i class="icon-Cancel"></i></div>


                    <div class="dropdown dropdown--design-01" data-dropdown-list="search">
                        <ul>
                            <li>
                                <label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" checked="checked">
                                        <i></i>
                                    </label>Search Titles Only
                                </label>

                            </li>
                            <li>
                                <label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <i></i>
                                    </label>Show Results as Posts
                                </label>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-Advanced_Search"></i>Advanced Search
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__menu">
                    <div class="header__menu-btn" data-dropdown-btn="menu">
                        General<i class="icon-Menu_Icon"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="menu">
                        <div>
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="{% url 'forum:modal_topic' %}"
                                >New</a></li>
                               <form id="myModalForm" method="get" action="{% url 'forum:modal_topic'  %}">
                                <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
                               </form>
                                <button type="button" id="myForm"  onclick="document.location='1/new_topics/'">
                                    Cli</button>

                                <li class="col-xs-6"><a href="#">Unread</a></li>
                                <li class="col-xs-6"><a href="#">Users</a></li>
                                <li class="col-xs-6"><a href="#">Tags</a></li>
                            </ul>
                        </div>
                        <div>
                            <h3>Categories</h3>
                             {% get_categories as categories %}
                            <ul class="dropdown__catalog row">
                                {% for category in categories %}
                                <li class="col-xs-6">{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="#">Support</a></li>
                                <li class="col-xs-6"><a href="#">Forum Rules</a></li>
                                <li class="col-xs-6"><a href="#">Blog</a></li>
                                <li class="col-xs-6"><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="header__notification">
                    <div class="header__notification-btn" data-dropdown-btn="notification">
                        <i class="icon-Notification"></i>

                    </div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="notification">

                    </div>
                </div>
                <div class="header__user">

                    <nav class="dropdown dropdown--design-01" data-dropdown-list="user">
                        <div>
                            <div class="dropdown__icons">
                                <a href="#"><i class="icon-Bookmark"></i></a>
                                <a href="#"><i class="icon-Message"></i></a>
                                <a href="#"><i class="icon-Preferences"></i></a>
                                <a href="#"><i class="icon-Logout"></i></a>
                            </div>
                        </div>

                    </nav>
                </div>
            </div>
            <div class="header__offset-btn">
                <a href="{% url 'create_topicApp:create_top' %}"><img src="static/fonts/icons/main/New_Topic.svg" alt="New Topic"></a>
            </div>
        </div>
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="static/js/modal_new.js"></script>

    </header>






