{% load tagnag %}

<div class="nav">
                <div class="nav__categories js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="categories">All Categories</div>
                        {% for topic in object_list %}

                        <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">

                            {% get_categories as categories %}
                            <ul class="dropdown__catalog row">
                                {% for category in categories %}

                                <li class="col-xs-6"><a href="{% url 'forum:category_detail' category.slug category.id %}" class="category">{{ category.name }}</a></li>
                                {% endfor %}


                            </ul>
                        </nav>
                        {% endfor %}

                    </div>

                </div>
                <div class="nav__menu js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="menu">Latest</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                            <ul class="dropdown__catalog">
                                <li><a href="#">Latest topic</a></li>
                                <li><a href="#">Unread topic</a></li>
                                <li><a href="#">Most Liked Topics</a></li>

                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li class="active"><a href="{% url 'forum:modal_latest_topic' %}">Latest topic</a></li>
                        <li><a href="#">Unread topic</a></li>
                        <li><a href="#">Most Liked Topics</a></li>

                    </ul>
                </div>
            </div>