
{% load tagnag %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<dialog id="ww">
    <h3>List new topics!</h3>
    {% for it in tops %}
        {{ it.name }}

      {% if not forloop.last %}: {% endif %}
    {% endfor %}


    <button id="ex">Выйти</button>
</dialog>
                                <button id="shw">Последняя новость</button>



</body>
<script>


 (function() {
            var dialog = document.getElementById('ww');
            document.getElementById('shw').onclick = function() {
                dialog.show();
            };
            document.getElementById('ex').onclick = function() {
                dialog.close();
            };
        })();

</script>
</html>

