
            </div>
            <div class="posts__section-right">

                <div class="posts__users">
                    <div>
                        {{topic.author}}
                    </div>

                </div>


                        <div class="posts__activity" style="text-align:center">{{topic.created}}</div>


            </div>

    </div>
    {% endfor %}

</div>

    <div class="posts__item">
        <div class="posts__section-left">
            <div class="posts__topic">
                <div class="posts__content">

                </div>
            </div>
        </div>
        <div class="posts__section-right">

            </div>

        </div>
    </div>