<div class="posts__body">

    <div class="posts__item">


    </div>
    <div class="posts__item bg-f2f4f6">
        <div class="posts__section-left">
            <div class="posts__topic">
                <div class="posts__content">
                    <a href="#">
                        <h3>Get your username drawn by the other users of unity! or a drawing based on what you do</h3>
                    </a>

                </div>
            </div>
            <div class="posts__category"><a href="#" class="category"><i class="bg-4436f8"></i>Video</a></div>
        </div>
        <div class="posts__section-right">
            <div class="posts__users">
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/L.svg" alt="avatar"></a>
                </div>
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/T.svg" alt="avatar"></a>
                </div>
            </div>
            <div class="posts__replies">252</div>
            <div class="posts__views">396</div>
            <div class="posts__activity">13m</div>
        </div>
    </div>
    <div class="posts__item">
        <div class="posts__section-left">
            <div class="posts__topic">
                <div class="posts__content">
                    <a href="{% url 'forum:single-topic' %}">
                        <h3>Which movie have you watched most recently?</h3>
                    </a>
                </div>
            </div>
            <div class="posts__category"><a href="#" class="category"><i class="bg-3ebafa"></i> Exchange</a></div>
        </div>
        <div class="posts__section-right">
            <div class="posts__users">
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/E.svg" alt="avatar"></a>
                </div>
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/I.svg" alt="avatar"></a>
                </div>
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/R.svg" alt="avatar"></a>
                </div>
            </div>
            <div class="posts__replies">207</div>
            <div class="posts__views">7.5k</div>
            <div class="posts__activity">41m</div>
        </div>
    </div>

</div>