{% load static %}

<div class="posts__body">

    {% for topic in topic_list %}

    <div class="posts__item">

            <div class="posts__section-left">

                <div class="posts__topic">

                    <div class="posts__content">
                        <a href="{{ topic.id  }}">
                            <h3>{{ topic.name }}</h3>
                        </a>
                    </div>

                </div>
            <div class="posts__category" style="color:grey"><a href="" class="category"><i class="bg-4436f8"></i></a>{{ topic.category }}</div>

            </div>
            <div class="posts__section-right">

                <div class="posts__users">
                    <div>
                        {{topic.author}}
                    </div>

                </div>

                        <div class="posts__replies"></div>
                        <div class="posts__views"></div>
                        <div class="posts__activity" style="text-align:center">{{topic.created}}</div>


            </div>

    </div>
    {% endfor %}

</div>

    <div class="posts__item">
        <div class="posts__section-left">
            <div class="posts__topic">
                <div class="posts__content">
                    <a href="{% url 'forum:single-topic' %}">
                        <h3>Which movie have you watched most recently?</h3>
                    </a>
                </div>
            </div>
            <div class="posts__category"><a href="#" class="category"><i class="bg-3ebafa"></i> Exchange</a></div>
        </div>
        <div class="posts__section-right">
            <div class="posts__users">
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/E.svg" alt="avatar"></a>
                </div>
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/I.svg" alt="avatar"></a>
                </div>
                <div>
                    <a href="#" class="avatar"><img src="static/fonts/icons/avatars/R.svg" alt="avatar"></a>
                </div>
            </div>
            <div class="posts__replies">207</div>
            <div class="posts__views">7.5k</div>
            <div class="posts__activity">41m</div>
        </div>
    </div>