{% load static %}

<div class="posts__body">

    {% for topic in topic_list %}

    <div class="posts__item">

            <div class="posts__section-left">

                <div class="posts__topic">

                    <div class="posts__content">
                        <a href="{{ topic.id  }}">

                            <h3>{{ topic.name }}</h3>
                        </a>
                    </div>

                </div>
            <div class="posts__category" style="color:grey"><a href="" class="category"><i class="bg-4436f8"></i></a>{{ topic.category }}</div>

            </div>
            <div class="posts__section-right">

                <div class="posts__users">
                    <div>
                        {{topic.author}}
                    </div>

                </div>


                        <div class="posts__activity" style="text-align:center">{{topic.created}}</div>
        <div  class="posts__views">{{ topic.viewers.count }}</div>

                        {{ topic.get_client_ip }}
            </div>

    </div>
    {% endfor %}

</div>

    <div class="posts__item">
        <div class="posts__section-left">
            <div class="posts__topic">
                <div class="posts__content">

                </div>
            </div>
        </div>
        <div class="posts__section-right">

            </div>

        </div>
    </div>