<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align:center">Our team!</h1>
<div style="margin-bottom:-274px">
<img src="/media/img.jpg" width="200px">
<div>
    <p>Дрю Хаустон. Разработчик <br> программного обеспечения.</p>
</div>
</div>
<div style="padding-left: 500px">
<img src="/media/imged.jpg" width="200px" height="200">

<div>
    <p>Андрю Хрив. Руководитель команды <br>разработчиков. </p>
</div>
</div>
<div style="padding-left:900px; margin-top: -270px">

<img src="/media/img_frontend.jpg" width="200px">
<div>
    <p>Барт Фолькмер. Фронтенд разработчик</p>
</div>
</div>
<div style="padding-left: 900px">
<img src="/media/my_img.jpg" width="200px" height="200">
<div>
    <p>Мелани Коллинз, директор по персоналу. </p>
</div>
</div>
<div>
<img src="/media/imgf.jpg" width="200px">
<div>
    <p>Дон Блэр, менеджер по персоналу.</p>
</div>
</div>
<div style="padding-left: 500px; margin-top:-500px">
    <img src="/media/4ecceb_916cd36a3e1e4b65b224ada784fdfe8b.webp" width="200" height="200">
    <div>
        <p>Меттью Аттанахи бэкенд разработчик.</p>
    </div>
</div>
<div style="padding-left: 900px; margin-bottom: -280px">
    <img src="/media/b7f632cf60c1543fa6481c327cea3505.webp" height="180" width="200">
    <div> <p>Дэвид Шел опытный python разработчик</p></div>

</div>
<div style="margin-top: -500px">
    <img src="/media/b31df896fe1385969877c366e6afc531.jpg" width="200" height="200">
    <div><p>Максим Степаненко специалист <br>кибербезопасности.</p></div>
</div>
<div style="padding-left: 500px;  margin-bottom=-200px">
   <img src="/media/imgas.jpg" width="200" height="200">
    <div><p>Джина Реу специалист <br>кибербезопасности.</p></div>

</div>
</body>
</html>
